:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.9);
  background-color: #171515;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  background: #191919;
  background: linear-gradient(90deg, #191919, #333333, #4d4d4d);
  background-size: 300% 300%;
  animation: bg 20s infinite alternate;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  outline: none;
  text-align: center;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}